src/main/resources/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="response" type="responseType"/>
  <xs:complexType name="optionType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="choice" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="responseType">
    <xs:sequence>
      <xs:element type="xs:string" name="screen_type"/>
      <xs:element type="xs:string" name="text"/>
      <xs:element type="optionsType" name="options"/>
      <xs:element type="xs:string" name="back_link"/>
      <xs:element type="xs:string" name="home_link"/>
      <xs:element type="xs:string" name="session_op"/>
      <xs:element type="xs:string" name="screen_id"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="optionsType">
    <xs:sequence>
      <xs:element type="optionType" name="option" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>